{
    "presets": [
        "@babel/typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "modules": "auto",
                "corejs": 3,
                "targets": {
                    "ie": 11
                }
            }
        ]
    ]
}